html,
body {
  margin: 0 auto;
  max-width: 40rem;
  height: auto;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  box-shadow: 0 0 0.5rem #f2f2f2;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
